body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    border: lightskyblue;
    border-bottom: 2px solid black;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
}

div {
    padding: 10px;
}

#home {
    /* height: 250px; */
}

#services {
    background-color: grey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services-items {
    display: flex;
    flex-direction: column;
    color: white;
    width: 250px;
    text-align: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
    color: darkslategrey;
    padding: 10px;
}
a:hover {
    text-decoration: none;
    /* filter: brightness(85%); */
    background-color: lightblue;
    color: white;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xxx-large;
    font-weight: 600;
    padding: 20px;
    margin: 20;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lead {
    font-size: 1.5rem;
    font-weight: lighter;
    padding-bottom: 40px;
    margin: 0px;
}