body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: transparent;
    border-bottom-width: 2px;
    border-bottom-style: dashed;
    border-bottom: white;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    text-decoration: none;
    color: darkslategrey;
    padding: 10px;
}
a:hover {
    text-decoration: none;
    /* filter: brightness(85%); */
    background-color: lightblue;
    color: white;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xxx-large;
    font-weight: 600;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.lead {
    font-size: 1.5rem;
    font-weight: lighter;
}